<header class="element container header" [class.mobile]="isMobile">
  <div class="content">
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      aria-label="Go to initial page">
      <img
        class="logo"
        src="../../../../assets/logo/logo.svg"
        alt="Logo of Davi's Portfolio" />
    </a>

    <nav>
      <ul class="navigation-listing">
        <li class="item">
          <a
            href="https://github.com/oliveiraD4vi"
            target="_blank"
            rel="noopener noreferrer"
            ariaCurrentWhenActive="page"
            aria-label="Go to Davi's GitHub Page">
            <span nz-icon nzType="github"></span>
            <span>GitHub</span>
          </a>
        </li>

        <li class="item">
          <a
            href="https://www.linkedin.com/in/davi-oliveira-bb7458187"
            target="_blank"
            rel="noopener noreferrer"
            ariaCurrentWhenActive="page"
            aria-label="Go to Davi's Linkedin Page">
            <span nz-icon nzType="linkedin"></span>
            <span>LinkedIn</span>
          </a>
        </li>

        <li class="item">
          <app-contact-modal></app-contact-modal>
        </li>
      </ul>
    </nav>
  </div>
</header>
