@import "./variables.scss";

.element.container {
  display: flex;
  justify-content: center;

  & > .content {
    flex: 1;
    padding: 1rem;
    max-width: $max-screen-width;
  }
}

// BEGIN ANIMATIONS
.reflect {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -170px;
    height: 100%;
    width: 170px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: loading 3s infinite;
  }

  @keyframes loading {
    0% {
      left: -170px;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
}

.fadeIn {
  animation: fadeIn 500ms;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.skeleton {
  width: 100%;
  background-color: $white-700;
  position: relative;
}
// END ANIMATIONS

// BEGIN CUSTOM SCROLL
.custom-scroll {
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: $black-300 !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-500 !important;
  }
}
// END CUSTOM SCROLL

// BEGIN CUSTOM ANTD STYLES
.ant-modal-header,
.ant-modal-title,
.ant-modal-footer,
.ant-modal-body,
.ant-modal-content {
  background-color: $background !important;
  border: none !important;
  color: $text-color !important;
}

.ant-modal-content {
  box-shadow: none !important;
}

.ant-modal-close:focus,
.ant-modal-close:hover {
  color: $white-900 !important;
}

.ant-btn-default {
  background-color: transparent !important;
}

.ant-tag {
  margin: 0 !important;
}

.ant-tag-has-color {
  color: $text-color !important;
}
// END CUSTOM ANTD STYLES
