
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// CUSTOM STYLES
// >>> Primary
@primary-color: #EB5E28;
@text-color: #F7F7F7;
@text-color-secondary: #F0F0F0;
@text-color-inverse: @black;
@heading-color: #F7F7F7;
